# CLI Shortcuts
alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"
alias reloadbash="source $HOME/.bash_profile"
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias ll="ls -ahlF --color --group-directories-first"

# Directories
alias dotfiles="cd $DOTFILES"
alias sites="cd $HOME/Sites"
