<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <profiles>
    <profile>
      <id>release</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://artifactory.oci.oraclecorp.com/libs-release</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>https://artifactory.oci.oraclecorp.com/plugins-release</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
 
    <profile>
      <id>snapshot</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://artifactory.oci.oraclecorp.com/libs-release</url>
        </repository>
        <repository>
          <snapshots/>
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>https://artifactory.oci.oraclecorp.com/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-release</name>
          <url>https://artifactory.oci.oraclecorp.com/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>https://artifactory.oci.oraclecorp.com/libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>snapshot</activeProfile>
  </activeProfiles>
</settings>
